<h1><%= @diary.title %></h1>
<%= @diary.entry %>

<form action="/<%= @diary.id %>/edit" method="get">
    <input type="submit" value="edit">
  </form>

  <form action="/<%= @diary.id %>/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form>

<h4>Comments</h4>
<ul>

<% @diary.comments(diary_id: @diary.id).each do |item| %>
  <li><%= item.comment %></li>
<% end %>

</ul>

<h4>Leave a comment</h4>
<form action="/<%= @diary.id %>/comment" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="comment">
  <input type="submit" value="Submit">
</form>

<form action="/" method="get">
    <input type="submit" value="Back to Main Page">
  </form>